* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

body {
  background: #e5e5e5;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
body.dragging {
  /* cursor: grabbing; */
}

h1,
h2,
h3 {
  font-weight: 500;
}

li {
  list-style: square;
}

.fade-in {
  opacity: 0;
  pointer-events: none;
}

::selection {
  background-color: #111;
  color: white;
}

.close-single-page {
  position: fixed;
  z-index: 1;
  top: 28px;
  left: calc(50% + 38px);
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.12);
  background: #fcfcfc;
  border-radius: 50%;
  pointer-events: auto;
  transform: translateY(-100px);
}
.close-single-page:focus { outline: 0; }
.close-single-page:hover { cursor: pointer; }

.close-single-page .close-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 3px;
}

.close-single-page .close-line:before,
.close-single-page .close-line:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.close-single-page .close-line:before {
  background: #aaa;
}

.close-single-page .close-line:after {
  background: #111;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transform-origin: 0 0;
}

.close-single-page .close-line:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-single-page:hover .close-line:first-of-type:after {
  transform: scaleX(1);
  transition-delay: 0.075s;
}

.close-single-page .close-line:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-single-page:hover .close-line:last-of-type:after {
  transform: scaleX(1);
}

.webgl-scene-hint {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.hint {
  display: flex;
  align-items: center;
}

.hint:hover {
  cursor: pointer;
}

.hint:first-of-type {
  margin-right: 36px;
}

.hint * {
  user-select: none;
  pointer-events: none;
}

.hint img {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}

.hint h6 {
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.175s ease;
}

body.layout-mode-grid .hint[data-layout-mode="overview"] {
  color: rgba(0, 0, 0, 0.62);
}
body.layout-mode-grid .hint[data-layout-mode="grid"] {
  pointer-events: none;
}

body.layout-mode-overview .hint[data-layout-mode="grid"] {
  color: rgba(0, 0, 0, 0.62);
}
body.layout-mode-overview .hint[data-layout-mode="overview"] {
  pointer-events: none;
}
