.hover-cursor {
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}

.hover-cursor span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-5px) translateY(-5px) scale(0.5);
}

.app-header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 0 16px;
  pointer-events: none;
  /* background: #fff; */
}

.app-logo {
  max-width: 200px;
  width: 100%;
}

.app-logo.interactable {
  pointer-events: auto;
}
.app-logo.interactable:hover {
  cursor: pointer;
}

.button {
  font-family: inherit;
  background: #111;
  color: #fff;
  font-size: 14px;
  padding: 5px 14px;
  pointer-events: auto;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}
.button:focus {
  outline: 0;
}
.button:hover {
  cursor: pointer;
}

.info-section {
  width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: red;
  z-index: 1;
  /* cursor: initial; */
  pointer-events: auto;
  transform: translateX(100%);
}

.info-btn {
  position: absolute;
  left: -100px;
  top: 20px;
  transition: opacity 0.175s ease;
}

.info-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.info-btn-close {
  position: fixed;
  top: 5px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: #111;
  pointer-events: auto;
  cursor: default;
  border: none;
  transform: translateY(-100px);
}
.info-btn-close:hover { cursor: pointer; }
.info-btn-close:focus { outline: 0; }

.info-btn-close .close-line:before {
  background: #cdcdcd;
}
.info-btn-close .close-line:after {
  background: #fff;
}
