.hover-cursor {
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
}

.hover-cursor span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-5px) translateY(-5px) scale(0.5);
}

.app-header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 0 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.175s ease-in;
  /* background: #fff; */
}

@media (min-width: 800px) {
  .app-header {
    padding: 0 16px;
  }
}

.app-header.faded-in {
  opacity: 1;
  pointer-events: auto;
}

.app-logo {
  max-width: 200px;
  width: 100%;
}

.app-logo.interactable {
  pointer-events: auto;
}
.app-logo.interactable:hover {
  cursor: pointer;
}

.button {
  font-family: inherit;
  background: #111;
  color: #fff;
  font-size: 14px;
  padding: 5px 14px;
  pointer-events: auto;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}
.button:focus {
  outline: 0;
}
.button:hover {
  cursor: pointer;
}

.info-btn {
  position: fixed;
  right: 17px;
  top: 14px;
  z-index: 999;
  transition: opacity 0.175s ease;
}

@media (min-width: 800px) {
  .info-btn {
    right: 30px;
  }
}

.info-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 800px) {
  .app-header {
    pointer-events: none;
  }
}
