.info-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12rem 0;
  overflow: auto;
  z-index: 1;
  pointer-events: none;
}

.info-container {
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  user-select: all;
  max-width: 1042px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 14px;
}

.info-main {
  
}

.info-sidebar {
  
}

@media (min-width: 800px) {
  .info-container {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: row;
  }
  .info-main {
    width: 650px;
  }
  .info-sidebar {
    width: 280px;
  }
}

.info-sidebar .fade-in:first-of-type h2 {
  margin-top: 0;
}

.info-sidebar h2 {
  font-size: 16px;
  margin-top: 16px;
}

.info-main p {
  margin-bottom: 24px;
}

.info-btn-close {
  position: fixed;
  top: 24px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: #111;
  pointer-events: auto;
  cursor: default;
  border: none;
  transform: translateY(-100px);
}
.info-btn-close:before { content: none; }
.info-btn-close:hover { cursor: pointer; }
.info-btn-close:focus { outline: 0; }

.info-btn-close .close-line:before {
  background: #cdcdcd;
}
.info-btn-close .close-line:after {
  background: #fff;
}