.single-page-wrapper {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow: auto;
}

.single-page-wrapper h2 {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.single-page-info {
  position: absolute;
  width: 50vw;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 150px 42px 24px 42px;
  box-sizing: border-box;
  cursor: initial;
}

.single-page-title {
  margin-bottom: 12px;
}

.single-page-subheading {
  font-size: 10px;
}

.single-page-section {
  padding: 0 0 24px 0;
}

.single-page-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.single-page-btn {
  width: 50%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  background: none;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

.single-page-prev-button {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.close-single-page {
  position: fixed;
  top: 28px;
  left: calc(50% + 38px);
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  pointer-events: auto;
  transform: translateY(-100px);
}

.close-single-page .close-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 3px;
}

.close-single-page .close-line:before,
.close-single-page .close-line:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.close-single-page .close-line:before {
  background:#aaa;
}

.close-single-page .close-line:after {
  background: #111;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transform-origin: 0 0;
}

.close-single-page .close-line:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-single-page:hover .close-line:first-of-type:after {
  transform: scaleX(1);
  transition-delay: 0.075s;
}

.close-single-page .close-line:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-single-page:hover .close-line:last-of-type:after {
  transform: scaleX(1);
}
