.single-page-slider-sizer {
  position: absolute;
  width: 525px;
  height: 788px;
top: 50%;
  left: 50%;
  margin: -200px 0 0 calc(-125px - 25vw);
}

.slider-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.12);
  opacity: 0;
  background-size: 50%;
  background-repeat: no-repeat;
}
.slider-btn:focus { outline: 0; }
.slider-btn:hover { cursor: pointer; }
.slider-btn-prev {
  background-position: 48% 50%;
  background-image: url('../assets/arrow-left.svg');
}
.slider-btn-next {
  background-position: 52% 50%;
  background-image: url('../assets/arrow-right.svg');
}
