* {
  margin: 0;
  padding: 0;
}

body {
  /* cursor: none; */
  background: #e5e5e5;
}

body.dragging {
  /* cursor: grabbing; */
}

.app-header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 52px;
  display: flex;
  align-items: center;
  user-select: none;
  background: #fff;
}

.app-logo {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}
